/* CSS Reset */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/* ==================================================================================================================== */
/* ! The 1120px Grid V1 by Jake Wharton  \  http://jakewharton.com  \  http://twitter.com/JakeWharton                   */
/* !                                                                                                                    */
/* ! BASED OFF OF:                                                                                                      */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.container { padding-left: 20px; padding-right: 20px; }
.row { width: 100%; max-width: 1120px; margin: 0 auto; overflow: hidden; }
.row > div { float: left; min-height: 1px; }

.row .fourth { width: 250px; margin-right: 40px; }
.row .half { width: 540px; margin-right: 40px; }
.row .three-fourths { width: 790px; margin-right: 40px; }
.row .whole { width: 100%; }

.row .last { margin-right: 0 !important; }


img, object, embed { max-width: 100%; }
img { height: auto; }


/* Smaller screens */

@media only screen and (max-width: 1159px) {
	/*body { font-size: 0.8em; line-height: 1.5em; }*/

	.row .fourth { width: 22.375%; margin-right: 3.5%; }
	.row .half { width: 48.25%; margin-right: 3.5%; }
	.row .three-fourths { width: 71.5%; margin-right: 3.5%;}
}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {
	body {
		font-size: 16px;
		-webkit-text-size-adjust: none;
	}
	.row, body, .container {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.row .fourth, .row .half, .row .three-fourths, .row .whole {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}
}